<div class="locations">
  <div class="newest">
    <ul>
    <% locations.each do |location| %>
      <li><a href="<%= location_path(location) %>" data-locationid="<%= location.id %>"><%= location.name %></a></li>
    <% end %>
    </ul>
  </div>
  <div class="map"></div>
</div>
