.section.static
  %h1 Kontakt

  %p
    Diese Seite ist eine rein private Initiative, die sich mit der Geschichte
    der Berliner Höfe beschäftigt. Es besteht kein Zusammenhang zwischen der
    Seite und den Höfen bzw. deren Eigentümern. Bei Fragen zu den Höfen (z.B.
    Vermietung) wendest du dich bitte direkt an die Eigentümer. Für Anmerkungen
    zur Seite kannst du mir gern eine Mail schreiben: <a
    href="mailto:info@berliner-hoefe.de">info@berliner-hoefe.de</a>.

