.formtastic fieldset fieldset {
  border: 1px solid $light-gray;
  margin: 1em 0;
  padding: 0 1em .5em;
  legend {
    cursor: pointer;
  }
  li {
    display: none;
  }
  &.open {
    padding: 1em;
    li {
      display: block;
    }
  }
}
