body {
  background: image-url('low_contrast_linen.png') left top repeat $super-dark-gray;
  color: #fff;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

p {
  line-height: 1.4em;
  margin: 0 0 10px;
}

h1 {
  color: $dark-gray;
  font-family: 'Lancelot', cursive;
  font-size: 3.2em;
  margin: 0 0 15px;
}

header,
#content,
footer {
  > .container {
    display: block;
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
    width: 60%;
    @media only screen and (max-device-width: 480px) {
      width: 100%;
    }
    @media only screen and (max-width: $small_width + (($max_width - $small_width) / 2)) {
      width: 80%;
    }
    @media only screen and (max-width: $small_width) {
      width: 100%;
    }
  }
}

header {
  background-color: $primary-color;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 1px 10px #000, 0 -3px 5px -3px $light-gray inset;
  height: 120px;
  position: relative;
  h1 {
    color: #fff;
    padding-top: 20px;
    a {
      color: rgba(255, 255, 255, .7);
      transition: color .25s;
      &:hover {
        color: #fff;
      }
    }
  }
}

#content {
  margin-top: -40px;
  & > .container .section {
    background: #fff;
    box-shadow: 1px 1px 5px #000;
    color: $dark-gray;
    margin-bottom: 20px;
    &.admin,
    &.static {
      padding: 20px;
    }
  }
}

footer {
  > .container {
    background: $super-dark-gray;
    color: $light-gray;
    padding: 20px 0 0;
    a {
      color: $dark-gray;
      &.highlighted {
        color: #fff;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    text-align: center;
    &:hover {
      a {
        color: $light-gray;
        &:hover {
          color: $primary-color;
        }
      }
    }
    li {
      display: inline-block;
      padding: 0 10px 20px;
    }
  }
}
