body {
  margin: 0;
  padding: 0;
  background: image-url('low_contrast_linen.png') left top repeat $super_dark_gray;
  color: white;
  font-size: 10pt;
  font-family: sans-serif;
}

a {
  color: $primary_color;
  text-decoration: none;
}

p {
  line-height: 1.4em;
  margin: 0 0 10px 0;
}

h1 {
  color: $dark_gray;
  margin: 0 0 15px 0;
  font-size: 3.2em;
  font-family: 'Lancelot', cursive;
}

header,
#content,
footer {
  > .container {
    width: 60%;
    max-width: 1200px;
    @media only screen and (max-device-width: 480px) {
      width: 100%;
    }
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

header {
  height: 120px;
  background-color: $primary_color;
  border-bottom: 1px solid $gray;
  position: relative;
  box-shadow: 0 1px 10px black, 0 -3px 5px -3px $gray inset;
  h1 {
    padding-top: 20px;
    a {
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.25s;
      &:hover {
        color: white;
      }
    }
  }
}

#content {
  margin-top: -40px;
  & > .container .section {
    background: white;
    color: $dark_gray;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px black;
  }
}

footer > .container {
  background: $super_dark_gray;
  color: $gray;
  border-top: 1px solid $dark_gray;
  min-height: 200px;
}
