.header-image {
  position: relative;
  img {
    width: 100%;
    box-shadow: 0 2px 2px $dark-gray;
  }
  h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 15px 0;
    color: #2a2a2a;
  }
}

.description,
.images {
  width: 80%;
  margin: 30px auto;
  @media only screen and (max-device-width: 480px) {
    width: 90%;
  }
}

.description {
  font-size: 1.3em;
}

ul.images {
  list-style: none;
  padding: 0 0 20px;
  li {
    display: inline-block;
    width: 16%;
    margin-right: 1.5%;
    margin-bottom: 15px;
    background: white;
    padding: 1%;
    box-shadow: 0 0 2px 2px $gray;
    &:nth-child(5n) {
      margin-right: 0;
    }
    img {
      width: 100%;
      border: 1px solid $gray;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
}
