table {
  border: 1px solid $light-gray;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    td,
    th {
      border-bottom: 1px solid $light-gray;
      padding: 3px;
    }
  }
  tbody tr {
    &:hover {
      td {
        background: $light-gray;
      }
    }
  }
}
