table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid $light-gray;
  tr {
    td, th {
      padding: 3px;
      border-bottom: 1px solid $light-gray;
    }
  }
  tbody tr {
    &:hover {
      td {
        background: $light-gray;
      }
    }
  }
}
