$primary_color: #B80A3D;
$secondary_color: #54A50B;

$light_gray: #e3e3e3;
$gray: #969696;
$dark_gray: #3e3e3e;
$super_dark_gray: darken(#3e3e3e, 10);

$column_spacing: 20px;
$total_width: 1000px;
$small_width: 800px;
