$primary-color: #b80a3d;
$secondary-color: #54a50b;

$light-gray: #e3e3e3;
$gray: #969696;
$dark-gray: #3e3e3e;
$super-dark-gray: darken(#3e3e3e, 10);

$column-spacing: 20px;

$max-width: 1200px;
$small-width: 800px;
