.columns {
  .column {
    width: $main_column_width;
    margin-right: $column_spacing;
    display: inline-block;
    vertical-align: top;
    &.last {
      width: $sidebar_column_width;
      margin-right: 0;
    }
  }
}
