#navigation {
  position: absolute;
  right: 0;
  top: 10px;
  ul {
    margin: 0;
    padding: 0;
    list-item: none;
    li {
      display: inline;
      a {
        padding: 10px;
        color: white;
        &:hover {
          background-color: white;
          color: $primary_color;
          box-shadow: 1px 1px 5px black;
          @include stripes(white);
        }
      }
    }
  }
}
