@import url(http://fonts.googleapis.com/css?family=Lancelot);
@import "variables";
@import "mixins";
@import "infobox";

body {
  margin: 0;
  padding: 0;
  background: image-url('low_contrast_linen.png') left top repeat $super_dark_gray;
  color: white;
  font-size: 11pt;
  font-family: sans-serif;
}

h1 {
  margin: 0 0 15px 0;
  font-size: 2.5em;
  font-family: 'Lancelot', cursive;
}

#header {
  height: 150px;
  background-color: $primary_color;
  border-bottom: 1px solid $gray;
  position: relative;
  box-shadow: 0 1px 10px black, 0 -3px 5px -3px $gray inset;
  h1 {
    /*
      padding-left: 65px;
      background: image-url('logo.png') left 30px no-repeat;
    */
    padding-top: 100px;
    #root & {
      padding-top: 50px;
    }
  }
  #navigation {
    position: absolute;
    right: 0;
    top: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-item: none;
      li {
        display: inline;
        a {
          padding: 10px;
          color: white;
          &:hover {
            background-color: white;
            color: $primary_color;
            box-shadow: 1px 1px 5px black;
            @include stripes(white);
          }
        }
      }
    }
  }
}

a {
  color: $primary_color;
  text-decoration: none;
}

.map {
  width: 450px;
  height: 250px;
  > div {
    height: 100%;
    width: 100%;
  }
}

#content {
  padding: 50px 0;
  .locations {
    background: white;
    box-shadow: 1px 1px 5px black;
    border: 10px solid white;
    margin-top: -100px;
    #root & > .map {
      width: $main_column_width;
      height: 500px;
    }
    &.show > .map {
      width: 100%;
    }
  }
  .newest {
    width: $sidebar_column_width;
    float: right;
    color: $dark_gray;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-family: 'Lancelot', cursive;
        font-size: 1.3em;
        border-bottom: 1px solid $gray;
        a {
          padding: 10px;
          height: 41.5px;
          line-height: 41.5px;
          width: $sidebar_column_width - 20;
          display: block;
          &:hover,
          &.highlighted {
            color: white;
            position: relative;
            cursor: pointer;
            @include stripes ($dark_gray, 3);
          }
          &:hover {
            &:after {
              content: '>';
              color: white;
              position: absolute;
              right: 10px;
              line-height: 41.5px;
              font-size: 30px;
            }
          }
        }
      }
    } 
  }
  .container {
    #locations & {
      background: white;
      padding: 15px;
      color: $dark_gray;
      table {
        width: 100%;
        border: 1px solid $gray;
        tr {
          td, th {
            padding: 3px;
            border-bottom: 1px solid $gray;
            border-right: 1px solid $gray;
          }
        }
      }
    }
  }
}

#header, #content, #footer {
  > .container {
    width: $total_width;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

.columns {
  .column {
    width: $main_column_width;
    margin-right: $column_spacing;
    display: inline-block;
    vertical-align: top;
    &.last {
      width: $sidebar_column_width;
      margin-right: 0;
    }
  }
}
