<% title @location.name %>
<script type="text/javascript">
  app.map.locations = <%= map_data(@location) %> 
  app.map.nearby = <%= map_data(@nearby.to_a, additional: true) %> 
</script>

<div class="columns">
  <div class="column">
    <p>
      <%= markdown(@location.description) %>
    </p>
  </div>
  <div class="column last">
    <div class="locations show">
      <div class="map"></div>
    </div>
  </div>
</div>
