<% title @location.name %>
<script type="text/javascript">
  app.map.locations = <%= map_data(@location) %> 
</script>

<div class="columns">
  <div class="column wide">
    <p>
      <%= @location.description %>
    </p>
    <p>
      <strong>Type:</strong>
      <%= @location.type %>
    </p>
  </div>
  <div class="column last">
    <div id="map" class="map"></div>
  </div>
</div>
