- if @footer_locations
  %ul
    - @footer_locations.each do |location|
      %li=link_to location.name, location_path(location), { data: { locationid: location.id } }

%ul
  %li= link_to 'Facebook', "https://www.facebook.com/berlinerHoefe"
  %li= link_to 'Kontakt', '#'
  %li= link_to 'Impressum', '#'
